.cool-icons
{
    height: 40px;
    width: 56px;
}
.cool-icons-social
{
    height: 50px;
    width: 56px;
}

.cool-icons-login
{
    height: 40px;
    width: 56px;
}
.cool-clipboard
{
    height: 20px;
    width: 20px;
}