@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

body {
  background-color: #fbfaff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Open Sans", sans-serif;
}
.card-border {
  border-radius: 20%;
}
.gradient-front {
  background: linear-gradient(to bottom, #00b4d8, #3c1053);
}
.gradient-reverse {
  background: linear-gradient(to top, #00b4d8, #3c1053);
}
.sub-header h6 {
  font-weight: 700;
}
@media (max-width: 992px) {
  .go-hide {
    display: none;
  }
}
@media (max-width: 753px) {
  .go-hide-front {
    display: none;
  }
}
.avatar {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 2px solid #0fbcf9;
}
.makeCard {
  width: 600px !important;
  box-shadow: 1px 2px 15px rgb(72 72 72 / 20%);
}
.littleText {
  color: #2c3a47;
  cursor: pointer;
  padding: 8px;
}
.card-outer {
  background-position: center;
}
.allow-hover:hover {
  cursor: pointer;
}
.custom-modal-header {
  border-bottom: 0 !important;
}
.custom-modal .modal-content {
  border-radius: 1rem;
  border: 0;
}
.custom-modal-footer {
  border-top: 0 !important;
}
.share-url-block {
  background: #000000;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
}
.no-border {
  border: none !important;
}
